body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.motorcycle {
    margin-bottom: 20px;
}


h2 {
    margin: 10px 0;
}

p {
    margin: 5px 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.photo{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.photo :first-child{
    border: grey 3px solid;

}